<h1><%= @restaurant.name %></h1>

<h2><%= @restaurant.category %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <%= render "restaurants/card_review", review: review %>
<% end %>






<h2>Write your review:</h2>

<%= render "restaurants/form", restaurant: @restaurant, review: @review %>


<%= link_to "Back to restaurants", restaurants_path %>
