<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <div>
    <h2><%= "*" * review.rating %></h2>
    <p><%= review.content %></p>
  </div>

<% end %>
